.container {
  padding: 0 2rem;
  overflow: hidden;
  transition: height 0.5s ease-in-out, min-height 0.5s ease-in-out;
}

%notiFy {
  text-align: center;
  box-sizing: unset;
  border-radius: 3px;
  line-height: 0.85rem;
}

%btn-sandwich {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  flex: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: backgroud-color 0.5s ease-in-out, opacity 0.5s ease-in-out;
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translateY(-50%);

  @media (min-width: 988px) {
    position: relative;
    left: auto;
    top: auto;
    transform: translateY(0);
  }

  &:focus {
    outline: none;
    opacity: 0.9;
  }

  div {
    position: relative;
    width: 100%;
    padding: 2px 0;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0.5rem;
      padding: 2px 0;
      width: 100%;
      left: 0;
      right: 0;
      box-sizing: border-box;
      border-radius: 10px;
      transition: all 0.5s ease-in-out;
    }

    &::after {
      content: "";
      position: absolute;
      top: -0.5rem;
      padding: 2px 0;
      width: 100%;
      left: 0;
      right: 0;
      box-sizing: border-box;
      border-radius: 10px;
      transition: all 0.5s ease-in-out;
    }
  }
}

%btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.7;
  }
}

%main-wrapper {
  min-height: 100vh;
  transition: width 0.5s ease-in-out;
  overflow-x: hidden;
  right: 0;
}

%side-bar {
  position: relative;
  height: auto;
  min-height: 100%;
  transition: margin 0.5s ease-in-out;
  padding-bottom: 5rem;
  width: 15rem;
  min-width: 16rem;

  &.toggled-left {
    margin-left: -16rem;
  }

  &.toggled-right {
    margin-right: -16rem;
  }

  &.toggled-left > .media-main-user {
    margin-left: -16rem;
  }

  &.toggled-left > .media-main-user {
    margin-left: -16rem;
  }

  &.toggled-right > .media-main-user {
    margin-right: -16rem;
  }
  // and (max-width: 987px)

  .media-main-user {
    width: 16rem;
    height: 5rem;
    position: fixed;
    padding: 0.5rem;
    bottom: 0;
    z-index: 10;
    background-color: $dark-color;
    color: #fff !important;
    box-shadow: 0 -1px 11px -5px #000;
    transition: margin 0.5s ease-in-out;

    .user-info {
      padding: 0.5rem 1rem;
    }
  }

  @media (min-width: 600px) {
    width: 20rem;
    min-width: 20rem;

    &.toggled-left {
      margin-left: -20rem;
    }

    &.toggled-right {
      margin-right: -20rem;
    }

    &.toggled-left > .media-main-user {
      margin-left: -20rem;
    }

    &.toggled-left > .media-main-user {
      margin-left: -20rem;
    }

    &.toggled-right > .media-main-user {
      margin-right: -20rem;
    }

    .media-main-user {
      width: 20rem;
      .user-info {
        padding: 0.5rem 3rem;
      }
    }
  }

  &.sticky {
    overflow: auto;
    height: 100vh;
  }
}

%side-bar-section-title {
  font-size: 0.85rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

%side-bar-logo {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 2rem 0;
  font-size: 1.4rem;
  .fas,
  img {
    width: auto;
    margin-right: 1rem;
    color: $primary-color;
    font-size: 1.7rem;
  }
}

%side-bar-button {
  display: flex;
  align-items: center;
  padding: 0.9rem 0;
  position: relative;
  color: $light-gray-color;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;

  &:focus {
    outline: none;
  }
}

%top-nav {
  position: relative;
  width: 100%;
  padding: 0.5rem 1rem;
  align-items: center;
  display: flex;
  justify-content: center;

  //   @media (min-width: 988px) {
  //     flex-direction: row;
  //   }
}

%top-nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    position: relative;
  }

  & * > a,
  & * > span,
  & * > button {
    position: relative;
    border: none;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.25rem;
    line-height: 1rem;
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background-color: $primary-color;
      }
      //  border-bottom: 1px solid BLACK;
    }
  }
}

%input {
  padding: 0.5rem 1rem;
  border: none;
  transition: border 0.5s ease-in-out;
}

%drop-down-list {
  display: none !important;
  position: absolute !important;
  padding: 0.5rem;
  width: 10rem;
  top: 100%;
  background-color: $light-color;
  right: 0;
  display: block;
  box-shadow: 0 0 5px $light-gray-color;

  li,
  span {
    border-radius: 10px;
    display: block;
    transition: all 0.5s ease-in-out;
    a {
      padding: 0.3rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &:hover {
      background-color: $light-gray-primary-color;
    }
  }
}

%rounded-image-container {
  position: relative;
  border-radius: 50%;
  overflow: hidden;

  img {
    position: absolute;
    object-fit: cover;
    left: -20%;
    top: -20%;
  }
}

%input-range {
  -webkit-appearance: none;
  width: 100%;
  max-width: 10rem;
  height: 0.5rem;
  padding: 0;
  outline: none;
  opacity: 0.7;
  border-radius: 0.625rem;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0 0 2px black;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1.2rem;
    opacity: 1 !important;
    cursor: pointer;
  }

  &::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1.2rem;
    opacity: 1;
    cursor: pointer;
  }

  &::-ms-thumb {
    width: 1.2rem;
    height: 1.2rem;
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
    opacity: 1;
    z-index: 2;
  }

  &::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: #4973b8;
  }
  &::-ms-fill-upper {
    background: #ddd;
  }
}

%btn-switch {
  position: relative;
  height: 1.7rem;
  width: 3rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "on";
    width: 1.5rem;
    padding: 0 0.1rem;
    border-radius: 50%;
    line-height: 1.6rem;
    text-align: center;
    height: 100%;
    color: $light-color;
    font-size: 0.8rem;
    transition: left l 4s ease-in-out;
  }

  &:hover {
    opacity: 0.8;
  }

  &[data-index="0"] {
    &::after {
      content: "off";
      right: auto;
      left: 0;
      background-color: $secondary-color !important;
    }
  }

  &[data-index="1"] {
    &::after {
      content: "on";
      right: 0;
      left: auto;
    }
  }
}

.flex {
  &-row {
    display: flex;
    flex-direction: row;
  }
  &-column {
    display: flex;
    flex-direction: column;
  }

  &-row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

.grid {
  &-template-auto {
    display: grid;
    grid-template-columns: set-grid-template-colums(
      auto-fill,
      50%,
      1fr,
      $minmax: true,
      $repeat: true
    );
    grid-gap: 10rem;

    @media (min-width: 988px) {
      grid-template-columns: set-grid-template-colums(
        auto-fill,
        30%,
        2fr,
        $minmax: true,
        $repeat: true
      );
    }

    @media (min-width: 600px) and (max-width: 987px) {
      grid-template-columns: set-grid-template-colums(
        auto-fill,
        40%,
        2fr,
        $minmax: true,
        $repeat: true
      );
    }
  }

  &-template-column {
    grid-template-columns: set-grid-template-colums(
      auto-fill,
      20%,
      1fr,
      $minmax: false,
      $repeat: false
    );
  }

  &-template {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;

    @media (min-width: 600px) and (max-width: 987px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 988px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &-column {
    display: flex;
    flex-direction: column;
    grid-row: 1 / span 2;
  }

  &-2-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.notify {
  @extend %notiFy;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  float: right;
  position: absolute;
  right: 0;
  z-index: 1;
  margin-right: 0.5rem;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.btn,
.bg {
  &-primary {
    background-color: $primary-color;
    color: set-txt-color($primary-color);
  }

  &-secondary {
    background-color: $secondary-color;
    color: set-txt-color($secondary-color);
  }

  &-success {
    background-color: $success-color;
    color: set-txt-color($success-color);
  }

  &-warning {
    background-color: $warning-color;
    color: set-txt-color($warning-color);
  }

  &-danger {
    background-color: $danger-color;
    color: set-txt-color($danger-color);
  }

  &-info {
    background-color: $info-color;
    color: set-txt-color($info-color);
  }

  &-gray {
    background-color: $gray-color;
    color: set-txt-color($gray-color);
  }

  &-dark {
    background-color: $dark-color;
    color: set-txt-color($dark-color);
  }

  &-info {
    background-color: $info-color;
    color: set-txt-color($info-color);
  }
}

.input-range {
  &-primary {
    background: $light-gray-color;
    @extend %input-range;

    &::-webkit-slider-thumb {
      background: $primary-color;
    }
    &::-moz-range-thumb {
      background: $primary-color;
    }
    &::-ms-thumb {
      background: $primary-color;
    }

    &::-ms-fill-lower {
      background: $secondary-color;
    }
    &::-ms-fill-upper {
      background: $light-gray-color;
    }
  }

  &-secondary {
    background: $light-gray-color;
    @extend %input-range;

    &::-webkit-slider-thumb {
      background: $secondary-color;
    }
    &::-moz-range-thumb {
      background: $secondary-color;
    }
    &::-ms-thumb {
      background: $secondary-color;
    }

    &::-ms-fill-lower {
      background: $primary-color;
    }
    &::-ms-fill-upper {
      background: $light-gray-color;
    }
  }

  &-success {
    background: $light-gray-color;
    @extend %input-range;

    &::-webkit-slider-thumb {
      background: $success-color;
    }
    &::-moz-range-thumb {
      background: $success-color;
    }
    &::-ms-thumb {
      background: $success-color;
    }

    &::-ms-fill-lower {
      background: $secondary-color;
    }
    &::-ms-fill-upper {
      background: $light-gray-color;
    }
  }
}

.txt {
  &-primary {
    color: $primary-color;
  }

  &-secondary {
    color: $secondary-color;
  }

  &-success {
    color: $success-color;
  }

  &-warning {
    color: $warning-color;
  }

  &-danger {
    color: $danger-color;
  }

  &-info {
    color: $info-color;
  }

  &-gray {
    color: $gray-color;
  }

  &-dark {
    color: $dark-color;
  }
}

.active-side-left {
  div {
    &:before {
      width: 70% !important;
      right: auto !important;
      left: 0 !important;
    }

    &:after {
      width: 70% !important;
      right: auto !important;
      left: 0 !important;
    }
  }
}

.active-side-right {
  div {
    &:before {
      width: 70% !important;
      right: 0 !important;
      left: auto !important;
    }

    &:after {
      width: 70% !important;
      right: 0 !important;
      left: auto !important;
    }
  }
}

.input-group {
  padding: 0.2rem;
  margin-left: 2rem;

  input {
    @extend %input;
  }
}

.input {
  &-dark {
    background-color: $dark-color;
    border-bottom: 1px solid $dark-color !important;
    &:focus {
      outline: none;
      border-color: $primary-color !important;
    }

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::placeholder {
      color: set-txt-color($dark-color);
    }
  }

  &-light {
    background-color: $light-color;
    border-bottom: 1px solid $dark-color !important;
    &:focus {
      outline: none;
      border-color: $primary-color !important;
    }

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::placeholder {
      color: set-txt-color($light-color);
    }
  }

  &-primary {
    background-color: $primary-color;
    border-bottom: 1px solid $primary-color !important;
    &:focus {
      outline: none;
      border-color: $secondary-color !important;
    }

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::placeholder {
      color: set-txt-color($primary-color);
    }
  }
}

.image {
  &-container-rounded {
    @extend %rounded-image-container;
    width: 20px;
    height: 20px;

    img {
      width: 30px;
      height: 30px;
    }
  }

  &-user-container-rounded {
    @extend %rounded-image-container;
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;

    @media (min-width: 600px) {
      margin-right: 0;
    }

    &-m {
      width: 50px;
      height: 50px;
      @extend %rounded-image-container;

      img {
        width: 60px;
        height: 60px;
      }
    }

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.drop-down-list {
  display: none !important;
  @extend %drop-down-list;
}

.user-info {
  display: flex !important;
  align-items: center;
  position: relative;
  transition: all 0.5s ease-in-out;

  &.active {
    .fas {
      transform: rotate(-180deg);
    }
  }

  &[data-role="user-info"] {
    padding: 0.5rem;
    &:hover {
      cursor: pointer;
      background-color: $light-gray-primary-color;
    }

    &:focus {
      outline: none;
      background-color: $light-gray-primary-color;
    }
  }

  .user-details {
    width: 50%;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span {
      font-size: 1rem;
      i {
        border-radius: 50%;
      }
      span {
        font-size: 0.8rem;
      }
    }
    .user-info-name {
      flex: 2;
    }
  }

  &-name {
    font-size: 0.8rem !important;
    padding: 0.3rem !important;
    display: none;

    @media (min-width: 600px) {
      display: block;
    }
  }

  &-settings {
    width: 15rem;
    z-index: 10;
    @extend %drop-down-list;
    padding: 0.5rem;

    &[data-active="true"] {
      display: block !important;
    }

    a {
      padding: 0 !important;
    }
    span {
      font-size: 1rem !important;
    }
  }
}

.line {
  width: 94%;
  margin: auto;
  height: 2px;
  background-color: $gray-color;
  margin-top: 1rem;
  position: relative;

  button {
    content: attr(data-txt);
    font-size: 1.5rem;
    left: -2rem;
    position: absolute;
    top: -0rem;
    height: 1rem;
    line-height: 0.5rem;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.btn-switch {
  &-primary {
    @extend %btn-switch;
    background-color: $light-gray-color;

    &::after {
      background-color: $primary-color;
    }
  }

  &-dark {
    @extend %btn-switch;
    background-color: $light-gray-color;

    &::after {
      background-color: $primary-color;
    }
  }
}

.loading-bars-container {
  height: 2rem;
  position: relative;
  $element-count: 8;
  $colors: (
    $primary-color,
    $secondary-color,
    $success-color,
    $danger-color,
    $warning-color,
    $primary-color,
    $secondary-color,
    $success-color,
    $danger-color,
    $warning-color,
    $primary-color,
    $secondary-color,
    $success-color,
    $danger-color,
    $warning-color
  );
  width: $element-count * 1.2rem;

  & > * {
    position: absolute;
    width: 1rem;
    display: inline-block;
    left: 20%;
    border-radius: 2px;
    background-color: $primary-color;
    height: 100%;
    transform: scaleY(1);
    opacity: 0.5;
    transform-origin: 50% 50%;
    animation: animate-loading-bars 3s ease-in-out infinite forwards;
    @for $i from 1 through $element-count {
      &:nth-of-type(#{$i}) {
        $left-multyplier: $i - 1;
        background: nth($colors, $i);
        animation-delay: $i * 0.1s;
        left: $left-multyplier * 1rem + $left-multyplier * 0.2rem;
      }
    }
  }
}

@keyframes animate-loading-bars {
  0% {
    opacity: 0.5;
    transform: scaleY(1);
  }

  50% {
    opacity: 0.9;
    transform: scaleY(2);
  }

  100% {
    opacity: 0.5;
    transform: scaleY(1);
  }
}
