$primary-color: #186ce9;
$secondary-color: #1f9bcf;
$white-color: #fff;
$dark-color: #262f3d;
$gray-color: #495057;
$light-color: #f7f9fc;
$status-completed-color: #4bbf73;
$status-progress-color: #f0ad4e;
$status-calceled-color: #d9534f;
