$primary-color: #39a2a9;
$secondary-color: #8b62d1;
$success-color: #5fc27e;
$danger-color: #f22034;
$warning-color: #e9db1d;
$info-color: #355fff;
$white-color: #fff;
$dark-color: #404e64;
$gray-color: #9ba9b4;
$light-gray-color: #cfcdcd;
$light-gray-primary-color: #dff2f3;
$light-color: #f7f9fc;
$status-completed-color: #4bbf73;
$status-progress-color: #f0ad4e;
$status-calceled-color: #d9534f;

@function set-txt-color($color) {
  @if (lightness($color) >30) {
    @return $white-color;
  } @else {
    @return $dark-color;
  }
}

@function set-grid-template-colums(
  $fill,
  $min,
  $max,
  $minmax: true,
  $repeat: true
) {
  @if $minmax {
    @return repeat($fill, minmax($min, $max));
  } @else {
    @return $max;
  }
}
