@import "variables";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
}

h2,
h3,
h4 {
   font-size: 2rem;
}

ul {
   list-style: none;
}

a {
   display: block;
   text-decoration: none;
   color: $gray-color;
}
img {
   width: 100%;
}

#main-wrapper {
   background-color: $light-gray-color;
   height: auto;
   min-height: 100vh;
   transition: width 0.5s ease-in-out;
   overflow-x: hidden;
   right: 0;
}

.side-bar {
   position: relative;
   width: 22rem;
   background-color: $dark-color;
   height: auto;
   min-height: 100%;
   transition: margin 0.5s ease-in-out;

   &.toggled {
      margin-left: -22rem;
   }

   &.sticky {
      overflow: auto;
   }

   h2 {
      font-size: 0.85rem;
      color: $light-gray-color;
      font-weight: 400;
      margin: 0.5rem 0;
   }

   &-logo {
      display: block;

      .logo {
         display: flex;
         align-items: center;
         color: $white-color;
         justify-content: start;
         padding: 2rem 0;
         font-size: 1.4rem;
         .fa-cube {
            margin-right: 1rem;
            color: $primary-color;
            font-size: 1.7rem;
         }
      }
   }

   &-item {
      position: relative;
      li > a {
         display: flex;
         align-items: center;
         padding: 0.9rem 0;
         position: relative;
         color: $light-gray-color;
         font-size: 1rem;

         .fas,
         .far {
            color: $gray-color;
            transition: transform 0.3s ease-in-out;
         }

         .far:first-child,
         .fas:first-child {
            margin-right: 0.8rem;
            font-size: 1.4rem;
         }

         .fas:last-child {
            position: absolute;
            right: 0;
            margin-right: 1rem;
         }

         &.current,
         &.current-2 {
            color: $light-color;
            .fas:last-child {
               color: $light-color;
               transform: rotate(-180deg) !important;
            }
            .fas:first-child {
               color: $light-color;
            }
         }

         &:focus,
         &:hover,
         &:focus .fas:last-child,
         &:hover .fas:last-child,
         &:hover .fas:first-child,
         &:hover .far:first-child,
         &:focus .far:first-child,
         &:focus .fas:first-child {
            color: $light-color;
         }
      }

      .side-bar-item-list {
         display: block;
         overflow: hidden;
         height: 0;
         max-height: 0px;
         min-height: 0px;
         transition: min-height 0.5s ease, max-height 0.5s ease, padding-left 0.5s ease;

         &.active-side-1 {
            padding-left: 2.1rem;
            height: auto;
            max-height: 30rem;
            min-height: 5rem;
            transition: max-height 0.5s ease, min-height 0.5s ease, padding-left 0.5s ease;
         }

         ul {
            display: block;
            overflow: hidden;
            height: 0;
            max-height: 0px;
            min-height: 0px;
            transition: min-height 0.5s ease, max-height 0.5s ease, padding-left 0.5s ease;

            &.active-side-2 {
               padding-left: 0.5rem;
               height: auto;
               max-height: 20rem;
               min-height: 2rem;
               transition: max-height 0.5s ease, min-height 0.5s ease, padding-left 0.5s ease;
            }
         }
      }
   }
}

header {
   width: 100%;
}

#top-nav {
   width: 100%;
   padding: 1rem;
   background-color: $white-color;
   display: flex;
   align-items: center;

   &-button {
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
      flex: none;
      border: none;
      cursor: pointer;

      &:focus {
         outline: none;
      }

      div {
         position: relative;
         width: 100%;
         background-color: $dark-color;
         height: 3px;

         &:before {
            content: "";
            position: absolute;
            top: -8px;
            height: 100%;
            width: 100%;
            left: 0;
            right: 0;
            background-color: $dark-color;
         }

         &:after {
            content: "";
            position: absolute;
            bottom: -8px;
            height: 100%;
            width: 100%;
            left: 0;
            right: 0;
            background-color: $dark-color;
         }
      }
   }

   .nav-menu {
      display: flex;
      float: right;

      li {
         position: relative;
      }

      li > a {
         padding: 1rem;
         font-size: 1.5rem;
      }

      .selection-list {
         display: none;
         position: absolute;
      }
   }
}

@import "utilities";
